extends template

block content
    .text-center.sign-in
        form(class="form-signin" method="POST" action="/login")
            #error
                if error
                    p.text-danger #{errorMsg}

            if !logged
                    img.mb-4(src='/images/logo_a.png', alt='', width='72', height='72')
                    - var h1Classes = ['h3', 'mb-3', 'font-weight-normal']
                    h1(class=h1Classes) Login
                    //- input email 
                    label( for="inputEmail" class="sr-only") Usuário
                    input(type="email" name="username" value="diego_fermino@terceiros.sicredi.com.br.dev" id="inputEmail" class="form-control" placeholder="Usuário" required autofocus)
                    //- input password
                    label(for="inputPassword" class="sr-only") Senha
                    input(type="password" name="password"  value="debora!23" id="inputPassword" class="form-control" placeholder="Senha" required)
                    //- remember Checkbox
                    - var divClasses=['checkbox', 'mb-3'];
                    div(class=divClasses)
                        label
                            input(type="checkbox" value="remember-me")
                            span  Lembre-me
                    //- signIn button
                    - var buttonClass=['btn', 'btn-lg', 'btn-primary', 'btn-block'];
                    button(class=buttonClass type="submit") Login

                    a.btn.btn-danger.btn-lg.btn-block.connect(href='#', role='button') Conectar
            else
                    p.text-danger #{logged} 
            - var pClasses=['mt-5', 'mb-3', 'text-muted'];
            p(class=pClasses) © 2019
block scripts            
    script(src='../js/popup.js')