extends template

append styles
    // Custom styles for this template
    //link(href='../css/theme.css' rel='stylesheet')
block nav
  - var active = "user"

block content
    .container.theme-showcase(role='main')

        .py-5.text-center
            //-img.d-block.mx-auto.mb-4(src='/images/logo_a.png' alt='' width='72' height='72')
            h2 Papéis
            p.lead
                |Permissões de usuário e configurações de acesso são especificadas em perfis e conjuntos de permissões. Para usá-los efetivamente, entenda as diferenças entre os perfis e conjuntos de permissões.
        .row
            .col-md-12.order-md-1
                form(method="POST" action="/user")
                    #error
                        if error
                            p.text-danger #{errorMsg}
                    - var h1Classes = ['h3', 'mb-3', 'font-weight-normal']
                    h1(class=h1Classes) Alteração de papel

                    .row
                        .col-md-6.mb-3
                            //- input Usuário 
                            label(for="inputUser") Usuário
                            .d-flex.justify-content-between.align-items-center
                                select(id="inputUser" class="form-control mr-2" required autofocus)
                                    if session.user
                                        option(value=session.user.user_id) #{session.user.display_name}
                                +icon('sync-alt')(id="tst", color="#28A745", size="1.1em")

                        .col-md-6.mb-3
                            //- input Perfil 
                            label(for="inputRole") Papel
                            select(id="inputRole" class="form-control bottom-item" required autofocus)
                                each role in roles
                                    option(value=role.id) #{role.name}
                    
                    .mb-3
                        //- signIn button
                        - var buttonClass=['btn', 'btn-lg', 'btn-primary', 'btn-block'];
                        button(class=buttonClass type="submit") Atualizar
                    - var pClasses=['mt-5', 'mb-3', 'text-muted'];
                    p(class=pClasses) © 2019

block scripts
    script(src='../javascripts/ajax.js')
